<div
  class="flex flex-wrap min-h-screen w-full content-center justify-center bg-gray-200 py-10"
>
  <div class="flex shadow-md font-semibold">
    <div
      class="flex flex-wrap content-center justify-center rounded-l-md bg-white"
      style="width: 30rem"
    >
      <div class="w-full md:w-72">
        <img src="./assets/logo_xbook.png" alt="" class="mx-auto w-1/4" />

        <form class="px-3 md:mt-4" [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="mb-3">
            <label class="mb-2 block text-xs font-semibold">Email</label>
            <input
              formControlName="email"
              type="email"
              placeholder="Email"
              class="block w-full px-5 py-3 mt-2 text-gray-700 plac eholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none"
            />
            <!-- validate show -->
            <div
              *ngIf="
                form.get('email')?.hasError('required') &&
                (form.get('email')?.dirty ||
                  form.get('email')?.touched ||
                  submitted)
              "
              class="text-red-500 text-xs mt-1"
            >
              Email is required.
            </div>
            <div
              *ngIf="
                form.get('email')?.hasError('email') &&
                (form.get('email')?.dirty ||
                  form.get('email')?.touched ||
                  submitted)
              "
              class="text-red-500 text-xs mt-1"
            >
              Invalid email format.
            </div>
          </div>

          <div class="mb-3">
            <label class="mb-2 block text-xs font-semibold">name</label>
            <input
              formControlName="name"
              type="name"
              placeholder="name"
              class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none"
            />
            <!-- validate show -->
            <div
              *ngIf="
                form.get('name')?.hasError('required') &&
                (form.get('name')?.dirty ||
                  form.get('name')?.touched ||
                  submitted)
              "
              class="text-red-500 text-xs mt-1"
            >
              Name is required.
            </div>
            <div
              *ngIf="
                form.get('name')?.hasError('minlength') &&
                (form.get('name')?.dirty ||
                  form.get('name')?.touched ||
                  submitted)
              "
              class="text-red-500 text-xs mt-1"
            >
              Name must be at least 4 characters long.
            </div>
          </div>

          <div class="mb-3">
            <label class="mb-2 block text-xs font-semibold">Password</label>
            <input
              formControlName="password"
              type="password"
              placeholder="***"
              class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none"
            />
            <!-- validate show -->
            <div
              *ngIf="
                form.get('password')?.hasError('required') &&
                (form.get('password')?.dirty ||
                  form.get('password')?.touched ||
                  submitted)
              "
              class="text-red-500 text-xs mt-1"
            >
              Password is required.
            </div>
            <div
              *ngIf="
                form.get('password')?.hasError('minlength') &&
                (form.get('password')?.dirty ||
                  form.get('password')?.touched ||
                  submitted)
              "
              class="text-red-500 text-xs mt-1"
            >
              Password must be at least 6 characters long.
            </div>
          </div>

          <div class="mb-3">
            <label class="mb-2 block text-xs font-semibold"
              >Confirm password</label
            >
            <input
              formControlName="confirmPassword"
              type="password"
              placeholder="***"
              class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none"
            />
            <!-- validate show -->
            <div
              *ngIf="
                form.get('confirmPassword')?.hasError('required') &&
                (form.get('confirmPassword')?.dirty ||
                  form.get('confirmPassword')?.touched ||
                  submitted)
              "
              class="text-red-500 text-xs mt-1"
            >
              ConfirmPassword is required.
            </div>
            <div
              *ngIf="
                form.hasError('passwordMismatch') &&
                (form.get('confirmPassword')?.dirty ||
                  form.get('confirmPassword')?.touched ||
                  submitted)
              "
              class="text-red-500 text-xs mt-1"
            >
              Password and Confirm Password must match.
            </div>
          </div>

          <div class="mb-3">
            <button
              type="submit"
              class="mb-1.5 block w-full text-center text-white bg-purple-700 hover:bg-purple-900 px-2 py-1.5 rounded-md"
            >
              Sign Up
            </button>
            <div
              class="btn-wrapper text-center flex items-center justify-center space-x-4 mt-3"
            >
              <button
                class="flex items-center py-2 px-4 text-sm uppercase rounded bg-white hover:bg-slate-200 text-indigo-500 border border-transparent hover:border-transparent hover:text-gray-700 shadow-md hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  class="w-6 h-6 mr-3"
                >
                  <path
                    fill="#1877f2"
                    d="M22.16 0H1.84C0.826 0 0 0.826 0 1.84v18.32c0 1.014 0.826 1.84 1.84 1.84h9.224v-7.004H8.049v-2.716h3.015v-2.045c0-3.005 1.833-4.637 4.494-4.637 1.26 0 2.346 0.093 2.655 0.135v3.049l-1.819 0.001c-1.366 0-1.627 0.649-1.627 1.584v1.988h3.239l-0.423 2.716h-2.816v6.912C17.308 23.174 22.16 18.293 22.16 12.005V1.84c0-1.014-0.826-1.84-1.84-1.84z"
                  />
                </svg>
                <!-- Facebook icon path -->

                Facebook
              </button>
              <button
                class="flex items-center py-2 px-4 text-sm uppercase rounded bg-white hover:bg-slate-200 text-indigo-500 border border-transparent hover:border-transparent hover:text-gray-700 shadow-md hover:shadow-lg font-medium transition transform hover:-translate-y-0.5"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-6 h-6 mr-3"
                  viewBox="0 0 48 48"
                >
                  <path
                    fill="#fbc02d"
                    d="M43.611 20.083H42V20H24v8h11.303c-1.649 4.657-6.08 8-11.303 8-6.627 0-12-5.373-12-12s5.373-12 12-12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4 12.955 4 4 12.955 4 24s8.955 20 20 20 20-8.955 20-20c0-1.341-.138-2.65-.389-3.917z"
                  />
                  <path
                    fill="#e53935"
                    d="m6.306 14.691 6.571 4.819C14.655 15.108 18.961 12 24 12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4 16.318 4 9.656 8.337 6.306 14.691z"
                  />
                  <path
                    fill="#4caf50"
                    d="M24 44c5.166 0 9.86-1.977 13.409-5.192l-6.19-5.238A11.91 11.91 0 0 1 24 36c-5.202 0-9.619-3.317-11.283-7.946l-6.522 5.025C9.505 39.556 16.227 44 24 44z"
                  />
                  <path
                    fill="#1565c0"
                    d="M43.611 20.083 43.595 20H24v8h11.303a12.04 12.04 0 0 1-4.087 5.571l.003-.002 6.19 5.238C36.971 39.205 44 34 44 24c0-1.341-.138-2.65-.389-3.917z"
                  />
                </svg>
                Google
              </button>
            </div>
          </div>
        </form>

        <div class="text-center">
          <span class="text-xs text-gray-400 font-semibold"
            >Have an account?</span
          >
          <a routerLink="/signin" class="text-xs font-semibold text-purple-700"
            >Sign in</a
          >
        </div>
      </div>
    </div>

    <div
      class="hidden md:block w-1/2 bg-gray-700 rounded-r-md"
      style="width: 24rem"
    >
      <img
        class="w-full h-full bg-center bg-no-repeat bg-cover rounded-r-md"
        src="./assets/ao.png.png"
      />
    </div>
  </div>
</div>
