<header [ngClass]="{ 'menu-visible': isMenuVisible }" aria-label="Site Header" class="bg-slate-200 fixed top-0 w-screen mb-16 z-50">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a routerLink="/" class="block text-teal-600">
          <span class="sr-only">Home</span>
          <img src="/assets/logo_xbook.png" class="w-16" alt="" />
        </a>
      </div>

      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Site Nav" class="hidden md:block">
          <ul class="flex items-center gap-6 text-sm">
            <li class=" ">
              <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-base font-semibold text-[#1a1a1a] transition before:content-[''] before:absolute relative before:-bottom-1 before:left-0 before:h-0.5 before:w-0 before:bg-slate-600 hover:before:w-full before:transition-all">
                Home
              </a>
            </li>
            <li>
              <a class="text-base font-semibold text-[#1a1a1a] transition before:content-[''] before:absolute relative before:-bottom-1 before:left-0 before:h-0.5 before:w-0 before:bg-slate-600 hover:before:w-full before:transition-all hover:text-[#088178]" routerLink="/shop" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                Shop
              </a>
            </li>
          </ul>
        </nav>

        <div class="flex items-center gap-4">
          <ng-container *ngIf="!isLoggedIn">
            <div class="sm:flex sm:gap-4">
              <a class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow" routerLink="/signin">
                Login
              </a>
              <div class="hidden sm:flex">
                <a class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600" routerLink="/signup">
                  Register
                </a>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="isLoggedIn">
            <div class="sm:flex sm:gap-4">
              <div class="col-12 md:col-4">
                <img class="rounded-full h-12 w-12 object-cover" [src]="userAvatar" alt="Avatar" />
              </div>
              <a class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600" (click)="logout()">Logout</a>
            </div>
          </ng-container>

          <div class="block md:hidden">
            <button (click)="toggleMenu()" class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75 w-9 h-9" [ngClass]="{ hidden: isMenuVisible, block: isMenuVisible }">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </button>
            <button (click)="toggleMenu()" class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75 w-9 h-9" [ngClass]="{ hidden: !isMenuVisible, block: isMenuVisible }">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>

            <div class="absolute w-full right-4 mt-[13px] menu-container" [ngClass]="{ 'slide-in': isMenuVisible, 'slide-out': !isMenuVisible }">
              <app-menu-hidden *ngIf="isMenuVisible"> </app-menu-hidden>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
