.relative {
  position: relative;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sm\:bg-transparent {
  background-color: transparent !important;
}

.sm\:from-white\/95 {
  --tw-gradient-from: #ffffff;
  --tw-gradient-to: rgba(255, 255, 255, 0.95);
  background-image: linear-gradient(var(--tw-gradient-to));
}

.sm\:to-white\/25 {
  --tw-gradient-to: rgba(255, 255, 255, 0.25);
  background-image: linear-gradient(
    var(--tw-gradient-from, rgba(255, 255, 255, 0))
  );
}

.ltr\:sm\:bg-gradient-to-r {
  background-image: linear-gradient(
    to right,
    var(--tw-gradient-from)
  ) !important;
}

.rtl\:sm\:bg-gradient-to-l {
  background-image: linear-gradient(to);
}
section.relative:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  box-shadow: inset 0px 30px 20px -20px rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.tieude3{
  margin-top: 20px;
  font-family: 'Pacifico', cursive;
}
.tieude5{
  font-family: 'Nabla', cursive;
}